/* Fondo general de la tabla */
.table {
    background-color: #0f171e !important;
    color: #ffffff !important;
}

/* Encabezados */
.table thead th {
    background-color: #19232f !important;
    color: #58a6ff !important;
    border-color: #2c3a47 !important;
}

/* Filas */
.table tbody tr {
    background-color: #131d26 !important;
    border-color: #1f2a33 !important;
}

.table tbody tr:hover {
    background-color: #1c2733 !important;
}

/* Celdas */
.table td {
    color: #dce7f1 !important;
    border-color: #2b3947 !important;
}

/* Inputs del filtro */
.table thead input {
    background-color: #1f2a33 !important;
    color: white !important;
    border: 1px solid #35516a !important;
}

/* Links */
.table a {
    color: #4da8fb !important;
}

.table a:hover {
    color: #7bc4ff !important;
}
h1, h2, h3, h4, h5, h6,
.panel-title,
.grid-view th {
    color: #ffffff !important;
}